{% extends "base.html" %}
{% block content %}
<div id="about-body" class="site-body">
    <div id="about-icon" class="icon" style="width: 93px; height: 87px; top: 10px; left: 70px; z-index: 1154; animation: spin 7s infinite linear;">
      <a type="cover" href="{{ url_for("index") }}" target="_self">
        <img  src="/static/media/about-icon.svg" alt="" width="100%;">
      </a>
    </div>

<div class="text-box">
  <h2>FiftyPercent is politic art magazine without information.</h2>
  <br>
  <div class="header-line"> </div> <br>

  <h3> <pre>
&#x26F5 Now &#x26F5
========= </pre> </h3>
  <h4>Making FiftyPercent No.5</h4>
  <br>
  <h3><pre>
&#x2693  Past  &#x2693
==========
</pre></h3>
<h4> <pre>
* 2019 *
| FiftyPercent No.4 is published. |
| The first FiftyPercentShow was held in sameheads Berlin.|

* 2018 *
| FiftyPercent No.3 is published. |

* 2017 *
| FiftyPercent No.2 is published. |
| FiftyPercent No.1 is published. |
      </pre>
  </h4> <br>
<div class="header-line"></div> <br>
<h3><pre>
&#x260E Contact &#x260F
=============
</pre></h3>
<h4><pre>
&#x1F54A hello(at)fiftypercent-magazine.org &#x1F54A

&#x1F5DD PGP KEY &#x1F5DD
</pre> </h4>
<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQENBF7HxdcBCAC84kS1TcgK6Gz65lKng+p6wgFwXcTupalKylBbIHz6vYifqijf
kZ46gwJoRb9VOY0HkCNxzvJDxo5vfeVY7lnVFwsql0OBPythrNnPnvu6PZ1avGAp
sMwI8Gw8wKBLBwQl0eaWGkAdayWGHSN3cz1DtKs68nLewXu337fgSFM1mTFL/wCW
saJ2YeXL3zVQR1+VCKmalzNafYj8WtvQDTs2MYlAHsNedkMru+KZj6fOn7oiMMEt
1LaNRRWyX3dfgII5C8ZaSX458u+YQjrsLFt3/tBbg1mxPZTU4AkU7w/12RzLBDZS
VbeuTv+JpgYnWUOSYHDwtVlKr8O4/RSZezYLABEBAAG0LkZpZnR5UGVyY2VudCA8
aGVsbG9AZmlmdHlwZXJjZW50LW1hZ2F6aW5lLm9yZz6JAVQEEwEIAD4WIQQZP6DH
/N2PR+CRwTunY/CvZV47pgUCXsfF1wIbAwUJA8JnAAULCQgHAgYVCgkICwIEFgID
AQIeAQIXgAAKCRCnY/CvZV47prnIB/wP886fZ3dL3319euzkliJ5S2eX3BJAlo3d
4GYKK67ZwEBgUAtbtD+DXOGWICUsWmIwR5dj7eol7CfgSoie7TThXncL0VFbShua
dkewa/3cG2Rz5WPyH8i5FyGJS/jlNbb3x/cEY9Dvo5tII4Xn/XjF7nOtEeK75/fr
w0PLO0sF+18qfMhR744lMBCjtWJG5iwF5AF3bjKwFcAFFBvY7KC3o2508odMt7dM
2zciXHTD7IighKEp0nekv5uNvCaJC5uEllyyIcdLs40+Nk/hBKjuszXHttWPwgXN
fKKs70+aNYXjO8ELlQSR5RDtti1Rs2p0JPA6ZgC4cQFElVeXGX4tuQENBF7HxdcB
CACdYyNS19ebnuh5UPLSbENuFlDOM/dkayoL2BZdQvt0YmII1cNL1PxbKnZfwZD6
Zf26yPyuiVXu33myFDo2FMSmLUjP8/LMIFhR1xCgYL6IJa6Tz28OvEzWDKy53Q2S
TSDthhzl0D6TiwqTS9TiVGKcmGpkPUJ47jgDNZlj1eqxQ7EbsuXmgSPoyR1tJG3o
Y/4omvPqEHTKGA2F0MdoP/erf5Q1w6Mk9/a7SvTRbn/4bbs2ubb62V0vR969nN6O
g946Z+27ICZXfje7iUrXkUEwUxzJs+dFUOAJj5ILrmUKWq2aJI8cC40zhco81bKX
cC8WIW2a8JDs6MnJ0wo5dJP7ABEBAAGJATwEGAEIACYWIQQZP6DH/N2PR+CRwTun
Y/CvZV47pgUCXsfF1wIbDAUJA8JnAAAKCRCnY/CvZV47ppNjB/91+CeFNKDETnCM
3sT5kUO7GziirWl3usUpkVfdfC85OW37J5tzHMkRmrY6k6U4+OrvAzzQyRyuYstG
PLVzwVx5qyL+8bL8Muy88XRIuabGrWHU4QLIoKqQsL8DKH1UuadrnWTmI7u1Qmey
+DpgMA3ebiPwyiTF2UuXVXOaA0j3XVWqkyUvP+I7xwXm145Vq76sYMYzO6utK0ZT
scwJkW0QK02QU1YUo5xqVNns1oj1Wom2R3qPlymG003LJ1EVKYmv7nsgoF8JWvnX
d1CFatHJmdq16yXTeZanosj/J0WlzsUGfEVyJsZl2tl2RwmvNyl6wB5b0EjL74jQ
fpfaO5gh
=1OPI
-----END PGP PUBLIC KEY BLOCK-----
</pre>
<br><br>
<div class="header-line">   </div>
<br>

<h3> <pre>
&#x2661 Store &#x2665
=========</pre> </h3>
<h4>
<pre>
|______store name______|__city name__|
|Basheer Graphic Books_|__Singapore__|
|_____Bibliophilia_____|__Woodstock__|
|____BlueStockings_____|___Newyork___|
|__Charlotte St News___|___London____|
|___Elliott Bay Book___|___Seattle___|
|______GOOD PRESS______|___London____|
|__Lendroit éditions___|___Rennes____|
|___MALMÖ KONSTHALL____|____Malmö____|
|______NeuroTitan______|___Berlin____|
|__The GrandNewsStand__|San Francisco|
|_Salon für Kunstbuch__|____Wien_____|
|____spartacusbooks____|__Vancouver__|
</pre> </h4>
<br><br>
<div class="header-line">   </div>
<br>
<h3>&#x2614 Bug Report &#x2614 </h3>
<h4>
<p>If you encounter any problem while surfing through this site.</p>
<p>Please send me the detail of the problem.</p> </h4>
<br>

<div class="header-line">   </div>
<br>

<p> &#x1F996	</p>
<h3>License</h3>
<h4><p>
<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /><br/><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0
        International License</a>. </p> </h4>

<div class="header-line">  </div>
</div>
</div>
{% endblock content %}
