<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=divice-width, initial-scale=1">
    <meta name="description" content="FIFTYPERCENT is politic art magazine without information.">
    <title>FiftyPercent</title>
    <link rel='shortcut icon' type='image/x-icon' href='/static/media//eye.ico' />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!--
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    -->
</head>
<body>
  {% block content %} {% endblock %}
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/lazysizes.min.js"></script>
  <script src="/static/js/fiftypercent.js"></script>

</body>
</html>
